In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r'E:\DSBDAL\DSBDALExam DataSets\DSBDALExam DataSets\dataset_Facebook.csv', sep=';')

In [5]:
# 2a. Create subsets by “Type”
photo = df[df["Type"] == "Photo"]
video = df[df["Type"] == "Video"]

In [6]:
print("Photo subset:", photo.shape)
print("Video subset:", video.shape)

Photo subset: (426, 19)
Video subset: (7, 19)

In [7]:
# 2b. Merge the two subsets (photo + video)
merged = pd.concat([photo, video])

In [8]:
print("Merged subset:",  merged.shape)

Merged subset: (433, 19)

In [14]:
# Sort Data on Page total likes  
df_sorted = df.sort_values(by='Page total likes', ascending=False)
print("\nTop 6 by likes:\n", df_sorted[['Type','Page total likes']].head(6))

Top 6 by likes:
       Type  Page total likes
13   Photo            139441
1   Status            139441
0    Photo            139441
5   Status            139441
4    Photo            139441
6    Photo            139441

In [10]:
# 2d. Transpose the first 5 rows
df_transposed = df.head(5).T

In [11]:
print("\nFirst 5 rows transposed:\n", df_transposed)

First 5 rows transposed:
                                                          0       1       2  \
Page total likes                                    139441  139441  139441
Type                                                 Photo  Status   Photo
Category                                                 2       2       3
Post Month                                              12      12      12
Post Weekday                                             4       3       3
Post Hour                                                3      10       3
Paid                                                   0.0     0.0     0.0
Lifetime Post Total Reach                             2752   10460    2413
Lifetime Post Total Impressions                       5091   19057    4373
Lifetime Engaged Users                                 178    1457     177
Lifetime Post Consumers                                109    1361     113
Lifetime Post Consumptions                             159    1674     154
Lifetime Post Impressions by people who have li...    3078   11710    2812
Lifetime Post reach by people who like your Page      1640    6112    1503
Lifetime People who have liked your Page and en...     119    1108     132
comment                                                  4       5       0
like                                                  79.0   130.0    66.0
share                                                 17.0    29.0    14.0
Total Interactions                                     100     164      80

                                                         3       4
Page total likes                                    139441  139441
Type                                                 Photo   Photo
Category                                                 2       2
Post Month                                              12      12
Post Weekday                                             2       2
Post Hour                                               10       3
Paid                                                   1.0     0.0
Lifetime Post Total Reach                            50128    7244
Lifetime Post Total Impressions                      87991   13594
Lifetime Engaged Users                                2211     671
Lifetime Post Consumers                                790     410
Lifetime Post Consumptions                            1119     580
Lifetime Post Impressions by people who have li...   61027    6228
Lifetime Post reach by people who like your Page     32048    3200
Lifetime People who have liked your Page and en...    1386     396
comment                                                 58      19
like                                                1572.0   325.0
share                                                147.0    49.0
Total Interactions                                    1777     393

In [12]:
#Melting Data to long format  
df_melted = pd.melt(df, id_vars=['Type', 'Category'])
print("\nMelted sample:\n", df_melted.head())

Melted sample:
      Type  Category          variable     value
0   Photo         2  Page total likes  139441.0
1  Status         2  Page total likes  139441.0
2   Photo         3  Page total likes  139441.0
3   Photo         2  Page total likes  139441.0
4   Photo         2  Page total likes  139441.0

In [13]:
#Casting data to wide format  
casting = pd.pivot_table(df,index=["Type","Category"],values="like",fill_value=0)
casting

                       like
Type   Category
Link   1          75.650000
       2          32.000000
       3          68.000000
Photo  1         126.000000
       2         235.857143
       3         219.753333
Status 1         136.333333
       2         182.552632
       3         151.500000
Video  1         231.428571