In [15]:
import pandas as pd

In [17]:
cols = ["sepal_length","sepal_width","petal_length","petal_width","species"]
df = pd.read_csv(r"E:\DSBDAL\DSBDALExam DataSets\DSBDALExam DataSets\Iris\Iris.csv", header=None, names=cols)

df

     sepal_length  sepal_width  petal_length  petal_width    species
0    sepal.length  sepal.width  petal.length  petal.width    variety
1             5.1          3.5           1.4           .2     Setosa
2             4.9            3           1.4           .2     Setosa
3             4.7          3.2           1.3           .2     Setosa
4             4.6          3.1           1.5           .2     Setosa
..            ...          ...           ...          ...        ...
146           6.7            3           5.2          2.3  Virginica
147           6.3          2.5             5          1.9  Virginica
148           6.5            3           5.2            2  Virginica
149           6.2          3.4           5.4          2.3  Virginica
150           5.9            3           5.1          1.8  Virginica

[151 rows x 5 columns]

In [18]:
# g. Create subsets for each species
setosa     = df[df.species == "Iris-setosa"]
versicolor = df[df.species == "Iris-versicolor"]
virginica  = df[df.species == "Iris-virginica"]

In [19]:
print("Setosa subset:",     setosa.shape)
print("Versicolor subset:", versicolor.shape)
print("virginica subset:", virginica.shape)

Setosa subset: (0, 5)
Versicolor subset: (0, 5)
virginica subset: (0, 5)

In [20]:
# h. Merge two subsets (e.g. setosa + versicolor)
setosa_versicolor_virginica = pd.concat([setosa, versicolor, virginica], ignore_index=True)

In [21]:
print("Merged subset:",     setosa_versicolor_virginica.shape)

Merged subset: (0, 5)

In [22]:
by_petal_length = df.sort_values("petal_length").reset_index(drop=True)
print("\nTop 3 by petal length:\n", by_petal_length[["species","petal_length"]].head(3))

Top 3 by petal length:
   species petal_length
0  Setosa            1
1  Setosa          1.1
2  Setosa          1.2

In [23]:
first5_transposed = df.head(5).T
print("\nFirst 5 rows transposed:\n", first5_transposed)

First 5 rows transposed:
                          0       1       2       3       4
sepal_length  sepal.length     5.1     4.9     4.7     4.6
sepal_width    sepal.width     3.5       3     3.2     3.1
petal_length  petal.length     1.4     1.4     1.3     1.5
petal_width    petal.width      .2      .2      .2      .2
species            variety  Setosa  Setosa  Setosa  Setosa

In [24]:
# k. Melt to “long” (tidy) format
#    we’ll carry along the original row index so we can pivot back
# ——————————
df_reset = df.reset_index().rename(columns={"index":"row_id"})
df_melted = pd.melt(
    df_reset,
    id_vars=["row_id","species"],
    var_name="measurement",
    value_name="value"
)

In [25]:
print("\nMelted sample:\n", df_melted.head(6))

Melted sample:
    row_id  species   measurement         value
0       0  variety  sepal_length  sepal.length
1       1   Setosa  sepal_length           5.1
2       2   Setosa  sepal_length           4.9
3       3   Setosa  sepal_length           4.7
4       4   Setosa  sepal_length           4.6
5       5   Setosa  sepal_length             5

In [26]:
# l. Cast (pivot) back to “wide” format

df_wide = (
    df_melted
      .pivot(index="row_id", columns="measurement", values="value")
      .reset_index(drop=True)
)

In [27]:
print("\nRe-pivoted to wide (first 5 rows):\n", df_wide.head())

Re-pivoted to wide (first 5 rows):
 measurement  petal_length  petal_width  sepal_length  sepal_width
0            petal.length  petal.width  sepal.length  sepal.width
1                     1.4           .2           5.1          3.5
2                     1.4           .2           4.9            3
3                     1.3           .2           4.7          3.2
4                     1.5           .2           4.6          3.1